body{

	margin: 0;
	padding: 0;
	background-image: url('../images/apple.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#home-main{
	margin-top: 1px;
	
}


#bio-me{
	
	overflow: auto;

	color: #1a0f00;

}

#my-pic{
	width: 190px;
	height: 250px;
	float: left;
	padding: 0px 15px 0px 0px;;

}

#connect{
	width: 200px;
	
	/*background-color: white;*/
	text-align: center;
	padding-top: 50px;
	position: relative;	
	
}

.apps{
	width: 50px;	
	height: 50px;

}

#about-me{
	padding-top:25px;
	font-family: 'Lobster';
	color: #4aaaa5;

}

#connect-with{
	font-family: 'Lobster';
	color: #4aaaa5;

}

#my-portfolio{
	font-family: 'Lobster';
	
	color: #4aaaa5;

}



.inner{
	text-align: center;
	position: relative;
	font-family: 'Lobster';
	margin-top: 50px;
	color: #1a0f00;
	
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   
   	margin: auto;
	width: 600px;
	height: 300px

	
  }

#myCarousel{
	
	background-color: white;
	width: 500px;
	height: 200px;



	

	
}




.description{
	background-color: #4aaaa5;
	text-align: center;

	position: relative;
	bottom: 20px;
	color: black;
	

}

#cara{
	padding-left: 45px;

	background-color: white;	
	width: 625px;
	height: 500px;
	

	
	

}

/*a:hover{
	
	border: 2px solid #4aaaa5;

}
*/

.title{
	/*background-color: white;*/
	text-align: center;
	padding: 0px;
	position: relative;
	font-family: 'Stalinist One', cursive;;
	color: #4aaaa5;
	

}

/*new text goes below//////////////////////////////////

/* Visit http://www.menucool.com/horizontal/javascript-menu for source code and other menu CSS templates */



#sse2
{
    /*You can decorate the menu's container, such as adding background images through this block*/
    background-color: #222;
    height: 38px;
    padding: 15px;
    border-radius: 6px;
    box-sizing: content-box;
}
#sses2
{
    margin:0 auto;/*This will make the menu center-aligned. Removing this line will make the menu align left.*/
}
#sses2 ul 
{ 
    position: relative;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
}
#sses2 li
{
    float:left;
    list-style-type: none;
    padding:0;margin:0;background-image:none;
}
/*CSS for background bubble*/
#sses2 li.highlight
{
    background:#036 url(mb2_2.gif) no-repeat center bottom;
    top:0px;
    height:30px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    z-index: 1;
    position: absolute;
    overflow:hidden;
}
#sses2 li a
{
    height:30px;
    padding-top: 8px;
    margin: 0 20px;/*used to adjust the distance between each menu item. Now the distance is 20+20=40px.*/
    color: #fff;
    font: normal 12px arial;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
}

