body{

	margin: 0;
	padding: 0;
	background-image: url('../images/apple.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}




.block{
	margin: auto;
	text-align: center;
	/*background-image: url('../images/blockbackground.png');*/
	background-image: url('../images/background.jpg');
	background-color: white;
	width: 80%;
	height: 100px;
	margin-top: 50px;
	font-family: 'Oswald', sans-serif;
	color: blue;
	font-size: 20px;
	padding-top: 30px;
	border: solid 3px black;
}

#myPic{
	width: 80%;
	height: 250px;
	margin-top: 50px;
	/*margin: auto;*/
}

#block2{
	text-align: center;
}

#block1, #block4, #block7{
	text-align: center;
	/*background-color: green;*/
	/*width: 50%;*/
	height: 100px;
	/*margin-right: 0px;*/
}

#block3, #block6, #block8, #block9{
	text-align: center;
	/*background-color: green;*/

}

#bottom{
	font-family: 'Parisienne', cursive;
	color: red;
	text-align: center;
	bottom: 10px;
}

footer {
  position: relative;
  right: 0;
  left: 0;
  text-align: center;
}


